[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django-crispy-forms = "==1.7.2"
gunicorn = "==19.9.0"
whitenoise = "==3.3.1"
autopep8 = "==1.4.4"
click = "==7.0"
image = "==1.5.27"
pycodestyle = "==2.5.0"
pyparsing = "==2.4.0"
pytz = "==2019.1"
sqlparse = "==0.4.4"
svgwrite = "==1.2.1"
Django = ">=2.2.1"
Pillow = ">=6.2.0"
Tree = "==0.2.4"
boto3 = "*"
django-storages = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
